<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FSHN Keygen</title>
</head>
<body>
<h1>Keygen</h1>
<form method="POST" enctype="multipart/form-data" action="/keygen">
    <input type="file" name="file"><br>
    <input type="submit" value="GENERATE">
</form>

<h1>Внимание!</h1>
<p>Не используйте на этой странице секретные фотографии с помощью которых вы генерировали свои настояшщие ключи. </p>
<p>Используйте только те фотографии которіе не планируете использовать в будущем для генерации реальніх ключей.</p>
<p>Это тестовая страница для того чтобы продемонстрировать функциональность. </p>
<p>Мы не собираем ваши ключи и фотографии. Но всё равно категорически не рекомендуем использовать на этой странице секретные фото</p>
<p>Если вы случайно воспользовались реальной фотографией - катастрофы не произошло. Мы передаем данные по защищенным каналам.</p>
<p>Просто больше так не делайте</p>
<p></p>
</body>
</html>